@import '@/assets/style/mixins.scss';

.navbarList {
	@include flex($direction: column);
}

.navbarItem {
	padding: 16px 24px;

	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		padding-bottom: 0;
	}

	@media screen and (max-width: 992px) {
		display: none;
	}

	button {
		width: calc(250px - 24px * 2);
		justify-content: flex-start;

		svg {
			flex: 0 0 auto;
			@include svgStyle;
		}
	}
}
