@import '@/assets/style/mixins.scss';

.commonLoadingSkeleton {
	width: 100%;
	height: 100%;

	@include flexCenter();

	@keyframes spinAnimation {
		100% {
			transform: rotate(360deg);
		}
	}

	:global .circle {
		width: 240px;
		height: 240px;
		border: 10px solid rgba(255, 255, 255, 0.4);
		border-radius: 50%;
		border-top-color: #fff;
		animation: spinAnimation var(--transiton) infinite;
	}
}
