@import '@/assets/style/mixins.scss';

.gamesPage {
	padding: 32px 24px;
	@include flex($direction: column);

	:global .game-list {
		margin-top: 24px;
		padding: 8px;
		overflow: hidden auto;

		@include flex($wrap: wrap, $gap: 26px);
		@include useScroll();
	}
}
