@import '@/assets/style/mixins.scss';

.searchBar {
	--border-radius: 32px;

	:global .ant-input-group {
		.ant-input-affix-wrapper:not(:last-child) {
			padding-left: 16px;
			padding-right: 16px;
			border-start-start-radius: var(--border-radius);
			border-end-start-radius: var(--border-radius);

			.ant-input-suffix {
				svg {
					cursor: pointer;
					@include svgStyle();
				}
			}
		}

		:global .ant-input {
			@include useFont();
		}

		:global .ant-input-group-addon:last-child .ant-input-search-button {
			width: 50px;
			height: 42.5px;
			margin-left: 1px;
			border-start-end-radius: var(--border-radius);
			border-end-end-radius: var(--border-radius);
			background: #fff;

			.anticon-search {
				transform: none;

				svg {
					@include svgStyle($color: #000);
					transform: translate(-1px, 1px) scale(0.9);
				}
			}
		}
	}
}
