@import '@/assets/style/mixins.scss';

.navbarList {
	display: flex;
	flex-direction: column;
}

.navbarItem {
	padding: 16px 24px;

	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		padding-bottom: 0;
	}

	@media screen and (max-width: 860px) {
		display: none;
	}

	button {
		width: 100%;
		max-width: calc(220px - 24px * 2);

		svg {
			@include svgStyle();
		}
	}
}
